/.idea
/task1/UserRegistry/.buildpath
/task1/UserRegistry/.project
/task1/UserRegistry/.settings/org.eclipse.php.core.prefs
/task1/UserRegistry/.settings/org.eclipse.wst.common.project.facet.core.xml
