#mainfooter {
    background-color: $colour-primary;
    padding: 1rem;
    margin-top: 2rem;

    .copyright {
        text-align: center;
        font-size: 0.9rem;
        color: #fff;
        padding: 1rem 0;
    }
}
