
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
$font: 'Poppins', sans-serif;
$border-radius: 3px;
$error: #f20a08;
$grey: #c8c8c8;
$dark-grey: #555;
$row-odd: #ebebeb;
$row-even: #fff;

// More imports
@import "layout";
@import "buttons";
@import "modal";
@import "forms";

$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import 'node_modules/font-awesome/scss/font-awesome.scss';

html, body {
    background-color: #fff;
    // color: $dark;
    font-family: $font;
    // font-size: 0.9rem;
    // font-weight: 400;
    margin: 0;
    height: 100%;
}

h2 {
    font-weight: normal;
    border-bottom: 1px solid $grey;
    padding-bottom: 20px;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    tr {
        &.odd {
            background-color: $row-odd;
        }
        &.even {
            background-color: $row-even;
        }
        td {
            padding: 20px;
            &.w-25 {
                width: 25%;
            }
            &.w-50 {
                width: 50%;
            }
        }
    }
}

.pagination {
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-white { 
    color:#fff;
}

.text-error {
    color: $error;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}
